[submodule "agent_protocol_splitter"]
	path = agent_protocol_splitter
	url = https://github.com/tiiuae/agent_protocol_splitter.git
[submodule "ros2_ws/src/px4_msgs"]
	path = ros2_ws/src/px4_msgs
	url = https://github.com/tiiuae/PX4-msgs.git
[submodule "ros2_ws/src/px4_ros_com"]
	path = ros2_ws/src/px4_ros_com
	url = https://github.com/tiiuae/px4_ros_com.git
[submodule "tools/FastRTPS-1.8.2"]
	path = tools/FastRTPS-1.8.2
	url = https://github.com/eProsima/Fast-RTPS.git
[submodule "tools/Fast-RTPS-Gen"]
	path = tools/Fast-RTPS-Gen
	url = https://github.com/eProsima/Fast-RTPS-Gen.git
[submodule "ros2_ws/src/camera/src/image_common"]
	path = ros2_ws/src/camera/src/image_common
	url = https://github.com/ros-perception/image_common.git
[submodule "ros2_ws/src/camera/src/ros2_v4l2_camera"]
	path = ros2_ws/src/camera/src/ros2_v4l2_camera
	url = https://gitlab.com/boldhearts/ros2_v4l2_camera.git
[submodule "mavlink-router"]
	path = mavlink-router
	url = https://github.com/mavlink-router/mavlink-router.git
[submodule "ros2_ws/src/communication_link"]
	path = ros2_ws/src/communication_link
	url = https://github.com/tiiuae/communication_link.git
[submodule "ros2_ws/src/px4_mavlink_ctrl"]
	path = ros2_ws/src/px4_mavlink_ctrl
	url = https://github.com/tiiuae/px4_mavlink_ctrl.git
[submodule "tools/libsurvive"]
	path = tools/libsurvive
	url = https://github.com/cntools/libsurvive.git
[submodule "ros2_ws/src/indoor_pos"]
	path = ros2_ws/src/indoor_pos
	url = https://github.com/tiiuae/indoor_pos.git
