[submodule "agent_protocol_splitter"]
	path = agent_protocol_splitter
	url = https://github.com/tiiuae/agent_protocol_splitter.git
[submodule "ros2_ws/src/px4_msgs"]
	path = ros2_ws/src/px4_msgs
	url = https://github.com/tiiuae/PX4-msgs.git
[submodule "ros2_ws/src/px4_ros_com"]
	path = ros2_ws/src/px4_ros_com
	url = https://github.com/tiiuae/px4_ros_com.git
[submodule "mavlink-router"]
	path = mavlink-router
	url = https://github.com/tiiuae/mavlink-router.git
[submodule "ros2_ws/src/communication_link"]
	path = ros2_ws/src/communication_link
	url = https://github.com/tiiuae/communication_link.git
[submodule "ros2_ws/src/px4_mavlink_ctrl"]
	path = ros2_ws/src/px4_mavlink_ctrl
	url = https://github.com/tiiuae/px4_mavlink_ctrl.git
[submodule "tools/libsurvive"]
	path = tools/libsurvive
	url = https://github.com/tiiuae/libsurvive.git
[submodule "ros2_ws/src/indoor_pos"]
	path = ros2_ws/src/indoor_pos
	url = https://github.com/tiiuae/indoor_pos.git
[submodule "ros2_ws/src/depthai_ctrl"]
	path = ros2_ws/src/depthai_ctrl
	url = https://github.com/tiiuae/depthai_ctrl.git
[submodule "ros2_ws/src/mesh_com"]
	path = ros2_ws/src/mesh_com
	url = https://github.com/tiiuae/mesh_com.git
[submodule "tools/Fast-DDS-Gen"]
	path = tools/Fast-DDS-Gen
	url = https://github.com/tiiuae/Fast-DDS-Gen.git
[submodule "systemd"]
	path = systemd
	url = https://github.com/tiiuae/fogsw_systemd.git
[submodule "fogsw_secure_os"]
	path = fogsw_secure_os
	url = https://github.com/tiiuae/fogsw_secure_os.git
[submodule "ros2_ws/src/slam/lidar_slam"]
	path = ros2_ws/src/slam/lidar_slam
	url = https://github.com/tiiuae/lidar_slam.git
[submodule "ros2_ws/src/camera/camera_control"]
	path = ros2_ws/src/camera/camera_control
	url = https://github.com/tiiuae/camera_control.git
[submodule "ros2_ws/src/camera/realsense-ros"]
	path = ros2_ws/src/camera/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "fogsw_configs"]
	path = fogsw_configs
	url = https://github.com/tiiuae/fogsw_configs.git
[submodule "ros2_ws/src/fog_core"]
	path = ros2_ws/src/fog_core
	url = https://github.com/fly4future/fog_core.git
[submodule "ros2_ws/src/rplidar_ros2"]
	path = ros2_ws/src/rplidar_ros2
	url = https://github.com/fly4future/rplidar_ros2.git
[submodule "tools/tmux"]
	path = tools/tmux
	url = https://github.com/tmux/tmux.git
[submodule "tools/tmuxinator"]
	path = tools/tmuxinator
	url = https://github.com/tmuxinator/tmuxinator.git
[submodule "ros2_ws/src/octomap_server2"]
	path = ros2_ws/src/octomap_server2
	url = https://github.com/fly4future/octomap_server2.git
