[Unit]
Description="RTSP/Mavlink protocol splitter bring-up"
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/protocol_splitter -d /dev/ttyS7 -b 921600 -x 14540 -w 0 -y 2019 -z 2020

[Install]
WantedBy=multi-user.target
