[Unit]
Description="RTSP/Mavlink protocol splitter bring-up"
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/protocol_splitter -b 3000000 -d /dev/ttyS7 -x 14540 -w 14580 -y 2019 -z 2020

[Install]
WantedBy=multi-user.target
