[Unit]
Description="Drone cloud communication link"
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=2
EnvironmentFile=/enclave/drone_device_id
ExecStart=/bin/bash -c ". /opt/ros/foxy/setup.bash; /usr/bin/communication_link -device_id ${DRONE_DEVICE_ID} -private_key /enclave/rsa_private.pem"

[Install]
WantedBy=multi-user.target
