[Unit]
Description="Drone cloud communication link"
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=2
EnvironmentFile=/enclave/drone_device_id
ExecStart=/bin/sh -c ". /opt/ros/foxy/setup_fog.sh; /usr/bin/communication_link -device_id $DRONE_DEVICE_ID -private_key /enclave/rsa_private.pem"

[Install]
WantedBy=multi-user.target
