[Unit]
Description=MAVLink Router

[Service]
Type=simple
User=sad
Group=sad
ExecStart=/usr/bin/mavlink-routerd
Restart=on-failure

[Install]
WantedBy=multi-user.target
