[Unit]
Description="Mesh Service"

[Service]
User=root
Group=root
Type=idle
ExecStart=/bin/sh -c ". /opt/ros/foxy/setup_fog.sh;/usr/bin/mesh.sh ap; ros2 launch mesh_com mesh_com.launch"

[Install]
WantedBy=multi-user.target
