[Unit]
Description="micrortps_agent startup"
After=network.target

[Service]
Type=simple
User=sad
Group=sad
ExecStart=/bin/sh -c ". /opt/ros/foxy/setup_fog.sh; micrortps_agent -t UDP -r 2020 -s 2019 -n $DRONE_DEVICE_ID"

[Install]
WantedBy=multi-user.target
